/*HEADER*/
main {
    background-color: burlywood;
}

ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

section {
    display: flex;
}

.mainMenu {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

.parrafo {
    text-align: center;
}

.contenedorProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imagenProducto {
        width: 100%;
        max-height: 320px;
        max-width: 400px;
        height: 400px;
        border: brown 3px solid;
        margin-left: 30px;
        display: flex;
        align-items: center;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        } 
    }
}

@media (max-width:600px) {
    .gridContenedor {
        grid-template-areas:
            "encabezado encabezado"
            "main main"
            "img img"
            "footer footer";
    }
}

@media (min-width:601px) and (max-width: 900px) {
    .gridContenedor {
        grid-template-areas:
            "encabezado encabezado encabezado encabezado"
            "main main main main"
            "img img img img"
            "footer footer footer footer";
    }
}